.product-img {
    height: 30vh;
    width: 95%;
    border: 1px solid wheat;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px auto;
}

.product-img img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.5s ease; 
}

.product-img img:hover {
    transform: scale(1.2); 
}
