.product-section{
    padding: 5vh 5vw;
    height: auto;
    width: 100vw;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    text-align: center;
    padding-top: 20px;
}